:root {
    --fb-orange: #ff6d0b;
}

.active {
    font-weight: bold;
}

.header {
    background: rgba(60, 105, 151, 0.33);
    background: linear-gradient(to top right, var(--bs-primary), var(--fb-orange)),
    linear-gradient(rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33));
}

.feature-card {
    height: 120px;
    color: var(--bs-secondary-color);
}

.feature-card-icon {
    color: var(--bs-secondary-color);
}

blockquote {
    font-style: italic;
    border-left: 4px solid var(--bs-primary-bg-subtle);
    padding-left: 1rem;
    width: 67%;
    margin: 1rem auto 1rem 3rem ;
}

pre > code {
    display: block;
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 1px solid lightgrey;
    word-wrap: normal;
}

pre + p {
    margin-top: 3rem;
}