.header {
    background: rgba(60, 105, 151, 0.33);
    background: linear-gradient(to top right, var(--bs-primary), var(--fb-orange)),
                linear-gradient(rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33));
}

.feature-product {
    height: 5rem;
    width: 18rem;
}

.feature-contributors {
    width: 4rem;
    height: 4rem;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}