.feature-product {
    height: 8rem;
    width: 16rem;
}

.feature-logo {
    width: 12rem;
    object-fit: contain;
}

.divider-diagonal {
    width: 100%;
    height: 3rem;
    background: var(--bs-primary-bg-subtle);
    background: linear-gradient(to top left, var(--bs-primary-bg-subtle), 50%, rgba(255,255,255,0) 51%);
}