@page "/"

<PageTitle>Home</PageTitle>

<div class="header py-5">
    <div class="container text-light d-flex flex-column align-items-center">
        <h1 class="display-1 fw-bold">Finbuckle
        </h1>
        <p class="lead fw-bold">
            .NET Multitenant Solutions & More
        </p>
        <a type="submit" class="mt-3 btn btn-primary"><i class="bi-mailbox-flag"></i> SUBSCRIBE FOR NEWS AND UPDATES</a>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">MultiTenant</h2>
            <p class="text-body-secondary">The most popular multitenancy library for .NET. Scale your projects by adding powerful multitenant capabilities with minimal hassle.</p>
            <a href="#" class="btn btn-primary btn-lg">LEARN MORE</a>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center bg-fb-blue text-light bg-gradient fs-4 rounded-3">
                        <i class="bi-collection"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#gear-fill"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#speedometer"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#table"></use>
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="vh-100-with-navbar bg-fb-squares-light overflow-auto d-flex flex-column justify-content-center align-items-center"> *@
@*     <div class="vh-center-with-navbar w-100 py-5 bg-body shadow-lg d-flex flex-column flex-md-row justify-content-center align-items-center"> *@
@*         <div class="lead fw-lighter m-3 text-nowrap"> *@
@*             <div class="fs-3 fst-italic">spice up</div> *@
@*             your <strong>.NET</strong> solutions with *@
@*             <div class="fs-1">multitenant</div>magic sauce! *@
@*         </div> *@
@*         <div class="big-image d-none d-md-block"> *@
@*             <img class="" src="images/finbuckle-512x512.png" alt="Finbuckle logo"/> *@
@*         </div> *@
@*         <form class="m-3 text-nowrap" action="https://finbuckle.us5.list-manage.com/subscribe/post?u=2583f8c2d682adcaac5e14197&amp;id=11c397bd2d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"> *@
@*             <label for="mce-EMAIL" class="form-label form-label">Subscribe for News and Updates</label> *@
@*             <input type="email" name="EMAIL" class="form-control form-control w-auto" id="mce-EMAIL" placeholder="Email address"> *@
@*             <button type="submit" class="mt-3 btn btn-primary bg-fb-blue">Subscribe</button> *@
@*         </form> *@
@*     </div> *@
@* </div> *@