@page "/MultiTenant/Docs/{PageId?}"
@page "/MultiTenant/Docs/{Version}/{PageId}"
@using Finbuckle.Website.Infrastructure
@using Octokit
@inject DocVersionService DocVersionService
@inject NavigationManager NavigationManager

<PageTitle>MultiTenant Docs</PageTitle>

<div class="header py-5">
    <div class="container text-light">
        <p class="display-4">Finbuckle.<wbr/>MultiTenant Docs</p>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#subnavbarSupportedContent" aria-controls="subnavbarSupportedContent" aria-expanded="false" aria-label="Toggle subnavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="subnavbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/MultiTenant"><i class="fas fa-home"></i> Home</a>
                <a class="nav-item nav-link" href="/MultiTenant/Docs"><i class="fas fa-book"></i> Docs</a>
                <a class="nav-item nav-link" href="https://github.com/Finbuckle/Finbuckle.MultiTenant"><i class="fab fa-github"></i> GitHub</a>
                <a class="nav-item nav-link" href="https://github.com/sponsors/Finbuckle"><i class="fas fa-heart"></i> Sponsor</a>
                <a class="nav-item nav-link" href="https://www.nuget.org/packages/Finbuckle.MultiTenant/">
                    <img src="https://img.shields.io/nuget/dt/Finbuckle.MultiTenant?style=flat&logo=nuget&label=NuGet%20Dowloads
" alt="nuget badge icon">
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="mt-4 container">
    <div class="row">
        <div class="col-12 col-xl-2">
            <nav class="nav flex-column">
                <DocNav Version="_version" PageId="@PageId"/>
            </nav>
        </div>
        <DocView Version="_version" PageId="@PageId"></DocView>
    </div>
</div>

@code {
    private Version _version = default!;
    private string _pageId;

    [Parameter]
    public string? Version { get; set; }

    [Parameter]
    public string? PageId { get; set; }

    protected override void OnInitialized()
    {
        if (Version is null)
        {
            _version = DocVersionService.LatestVersion;
        }
        else if (!System.Version.TryParse(Version.Remove(0, 1), out _version))
            _version = new Version();

        _pageId = PageId ?? "Introduction";
        
        if (Version is null || PageId is null)
        {
            // redirect to the default page
            NavigationManager.NavigateTo($"/MultiTenant/Docs/v{_version}/{_pageId}");
        }
    }

}