<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/favicon-64x64.png" width="30" height="30" class="d-inline-block align-top" alt="Finbuckle logo">
                Finbuckle
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav">
                    <NavLink class="nav-item nav-link" href="/MultiTenant">MultiTenant</NavLink>
                    <NavLink class="nav-item nav-link" href="/About">About</NavLink>
                    <NavLink class="nav-item nav-link" href="/Contact">Contact</NavLink>
                </div>
            </div>
        </div>
    </nav>
</header>

@code {
    
}