@page "/MultiTenant"
@using Finbuckle.Website.Infrastructure
@using Markdig
@inject IWebHostEnvironment WebHostEnvironment
@inject DocVersionService DocVersionService

<PageTitle>MultiTenant Home</PageTitle>

<div class="header py-5">
    <div class="container text-light">
        <h1 class="display-1">Finbuckle.
            <wbr/>
            MultiTenant
        </h1>
        <p class="lead">
            a lightweight and open-source multitenancy library for .NET
        </p>
    </div>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#subnavbarSupportedContent" aria-controls="subnavbarSupportedContent"
                aria-expanded="false" aria-label="Toggle subnavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="subnavbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/MultiTenant"><i class="fas fa-home"></i> Home</a>
                <a class="nav-item nav-link" href="/MultiTenant/Docs"><i class="fas fa-book"></i> Docs</a>
                <a class="nav-item nav-link" href="https://github.com/Finbuckle/Finbuckle.MultiTenant"><i
                        class="fab fa-github"></i> GitHub</a>
                <a class="nav-item nav-link" href="https://github.com/sponsors/Finbuckle"><i class="fas fa-heart"></i>
                    Sponsor</a>
                <a class="nav-item nav-link" href="https://www.nuget.org/packages/Finbuckle.MultiTenant/">
                    <img
                        src="https://img.shields.io/nuget/dt/Finbuckle.MultiTenant?style=flat&logo=nuget&label=NuGet%20Dowloads" alt="nuget badge icon" class="align-text-bottom">
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container d-flex flex-column align-items-center mt-4">
    <p class="lead w-50">
        Finbuckle.MultiTenant is an open-source multitenancy library for .NET. It enables tenant resolution,
        per-tenant app behavior, and per-tenant data isolation.
    </p>
    <a class="btn btn-primary btn-fb-light-blue" href="/MultiTenant/#getting-started" role="button">Get started now!</a>
    
    <div class="row row-cols-1 row-cols-lg-2 g-4 mt-4 justify-content-center">
        <div class="col">
            <div class="card feature-card border-0">
                <div class="card-body d-flex align-items-center">
                    <i class="feature-card-icon fab fa-github fa-fw fa-4x me-3"></i>
                    <div>
                        <h5 class="card-title">Open Source</h5>
                        <p class="card-text">Source code available on GitHub under the Apache 2.0 license.</p>
                    </div>
                </div>
            </div>
        </div>
        <div claass="col">
            <div class="card feature-card border-0">
                <div class="card-body d-flex align-items-center">
                    <i class="feature-card-icon fas fa-feather fa-fw fa-4x me-3"></i>
                    <div>
                        <h5 class="card-title">Lightweight</h5>
                        <p class="card-text">Uses standard .NET conventions and patterns allowing &quot;drop-in&quot;
                            multitenancy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card feature-card border-0">
                <div class="card-body d-flex align-items-center">
                    <i class="feature-card-icon fas fa-users fa-fw fa-4x me-3"></i>
                    <div>
                        <h5 class="card-title">Tenant Resolution</h5>
                        <p class="card-text">Detect tenants using powerful built-in and customizable logic.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card feature-card border-0">
                <div class="card-body d-flex align-items-center">
                    <i class="feature-card-icon fas fa-database fa-fw fa-4x me-3"></i>
                    <div>
                        <h5 class="card-title">Data Isolation</h5>
                        <p class="card-text">Separate tenant data using a shared, separate, or hybrid database
                            approaches.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card feature-card border-0">
                <div class="card-body d-flex align-items-center">
                    <i class="feature-card-icon fas fa-code-branch fa-fw fa-4x me-3"></i>
                    <div>
                        <h5 class="card-title">.NET Support</h5>
                        <p class="card-text">Works with all Microsoft supported versions of .NET.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card feature-card border-0">
                <div class="card-body d-flex align-items-center">
                    <i class="feature-card-icon fas fa-users-cog fa-fw fa-4x me-3"></i>
                    <div>
                        <h5 class="card-title">Behavior</h5>
                        <p class="card-text">Configure application behavior uniquely for each tenant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <h2>Sustainable Open Source</h2>
            <div class="card my-4 border-0">
                <div class="card-body d-flex">
                    <img src="images/dotnetfoundation.png" height="80" class="me-3" alt="dotnet foundation logo"/>
                    <div>
                        <h5 class="card-title">Independent. Innovative. Always open source.</h5>
                        <p class="card-text">Finbuckle.MultiTenant is proud to be a member of the
                            <a
                                href="https://dotnetfoundation.org">.NET Foundation</a>.</p>
                    </div>
                </div>
            </div>
            <div class="card my-4 border-0">
                <div class="card-body d-flex">
                    <div>
                        <p class="card-text">
                            Finbuckle.MultiTenant is primarily supported by its
                            <a href="https://github.com/sponsors/Finbuckle">GitHub
                                sponsors</a>
                            and
                            <a
                                href="https://github.com/Finbuckle/Finbuckle.MultiTenant/graphs/contributors">contributors</a>.
                        </p>
                        <p class="card-text">
                            Additional support is provided by the following organizations:
                        </p>
                        <div class="mt-4">
                            <a href="https://www.digitalocean.com/">
                                <img
                                    src="https://opensource.nyc3.cdn.digitaloceanspaces.com/attribution/assets/SVG/DO_Logo_horizontal_blue.svg"
                                    alt="Digital Ocean logo" height="40">
                            </a>
                        </div>
                        <div class="mt-4">
                            <a href="https://www.github.com/">
                                <img src="https://github.githubassets.com/assets/GitHub-Logo-ee398b662d42.png"
                                     alt="GitHub logo"
                                     height="40">
                            </a>
                        </div>
                        <div class="mt-4">
                            <a href="https://www.jetbrains.com/">
                                <img
                                    src="https://resources.jetbrains.com/storage/products/company/brand/logos/jetbrains.svg"
                                    alt="Jetbrains logo" height="40">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="getting-started" class="container mt-4">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            @((MarkupString)_gettingStartedContent)
        </div>
    </div>
</div>

<div id="learn-more" class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Learn More</h2>
            <p>
                <a href="https://github.com/Finbuckle/Finbuckle.MultiTenant">GitHub</a>
            </p>
            <p>
                <a href="https://github.com/Finbuckle/Finbuckle.MultiTenant/issues">GitHub Issues</a>
            </p>
            <p>
                <a href="https://github.com/Finbuckle/Finbuckle.MultiTenant/discussions">GitHub Discussions</a>
            </p>
            <p>
                <a href="https://github.com/sponsors/Finbuckle">GitHub Sponsor</a>
            </p>
            <p>
                <a href="/MultiTenant/Docs">Documentation</a>
            </p>
            <p>
                <a href="https://github.com/Finbuckle/Finbuckle.MultiTenant/tree/master/samples">Sample Projects</a>
            </p>
        </div>
    </div>
</div>

@code {
    private string _gettingStartedContent = "";

    protected override async Task OnInitializedAsync()
    {
        var version = DocVersionService.LatestVersion;
        var fileInfo = WebHostEnvironment.ContentRootFileProvider.GetFileInfo($"content/docs/v{version}/GettingStarted.md");
        if (fileInfo.Exists)
        {
            var readStream = fileInfo.CreateReadStream();
            using var textReader = new StreamReader(readStream);
            var markdown = await textReader.ReadToEndAsync();
            markdown = markdown.Replace("](", "](MultiTenant/Docs/");
            var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().Build();
            _gettingStartedContent = Markdown.ToHtml(markdown, pipeline);
            _gettingStartedContent = _gettingStartedContent.Replace("h1", "h2");
        }
    }

}